.gridcolumn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2vmax;
}

.gridrow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2vmax;
}

.head {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout {
    color: white;
    background-color: rgb(212, 0, 0);
    border-radius: 2vmax;
    font-weight: 900;
}

.taskInput input,
.taskInput label,
.taskInput {
    color: white;
    border-color: white;
}

.button {
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: rgb(65, 106, 112);
}

.tabs {
    margin-top: 5vmin;
    color: white;
    font-weight: 900;
}

.list {
    background-color: rgb(46, 46, 46);
}